html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Jersey 20';
  src: url('../assets/fonts/Jersey20-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main {
display: flex;
flex-direction: column;
width: 100vw;


}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(https://res.cloudinary.com/djvbcdtwl/image/upload/v1763113521/etoiles_1_bawlre.png);
  border-bottom: 5px solid #DFB74C;
  z-index: 5;
  
}

.logoContainer{
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 6%;
  margin-left: 2%;

}

.logo{
  height: 90%;
  width: 90%
}

.logo:hover{
  cursor: pointer;
    height: 94%;
  width: 94%
}

.titleContainer{
  font-family: 'Jersey 20', sans-serif;
  font-size: 13vh;
  color: #9048B7;
  -webkit-text-stroke: #DFB74C 3px;
  max-height: 100%;
  max-width: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.inconsContainer{
  color: #DFB74C;
  height: 50%;
  width: 15%;
  font-size: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2%;
}

.icon:hover {
  cursor: pointer;
  font-size: 6vh;
}

.menu {

  height: 8vh;
  z-index: 10;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 4px;
}

.button {
  height: 55%;
  width: 12%;
  border-radius: 50px; 
  font-family: 'Jersey 20', sans-serif;
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFB74C;
    box-shadow: 0 4px 0 #A68A30;
  transition: all 0.1s ease;
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 #A68A30;
}





