.main {
  display: grid;
  grid-template-rows: 15vh 5vh 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

.headerArea{
  grid-row: 1 / 3; 
  grid-column: 1 / 13;
}

.container{
  grid-row-start: 3;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.productContainer{
  display: flex;
  height: 90%;
  width: 100%;
}

.imagesAndDescription{
  width: 50%;
}

.images{
  display: flex;
  width: 100%;
  height: 80%;
}

.imagesMiniatures{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.miniImage{
  height: 20%;
  width: 50%;
  cursor: pointer;
}

.imagesPrincipale{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.imagesDiplay{
  height: 90%;
  border: solid 2px black;
}

.description{
  margin-top: 2%;
  margin-left: 5%;
}

.titleAndRent{
  background-color: rgba(137, 43, 226, 0.445);
  width: 50%;
}

.carouselContainer{
  background-color: rgba(134, 221, 142, 0.726);
  width: 80%;
  height: auto
}