.main {
  display: grid;
  grid-template-rows: 15vh 5vh 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;

}

.headerArea{
  grid-row: 1 / 3; 
  grid-column: 1 / 13;
}

.container{
  background-color: aqua;
  grid-row-start: 3;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
}