

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.main {
  display: grid;
  grid-template-rows: 15vh 5vh 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

.headerArea{
  grid-row: 1 / 3; 
  grid-column: 1 / 13;
}

.container{
  grid-row-start: 3;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.menuTitle {
  font-family: 'Figtree', sans-serif;
  font-size: 5vh;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogueMenu {
  border: solid 1px black;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterAndProductContainer{
  width: 100%;
  height: 84%;
  display: flex;
}

.filterContainer{
  background-color: aqua;
  width: 20%;
}
.productsContainer{
  background-color: rgb(243, 206, 162);
  width: 80%;
}

.classBy {
  padding-right: 10px;
}

.display{
  padding-left: 10px;
}