

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.main {
  display: grid;
  grid-template-rows: 15vh 5vh 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

.headerArea{
  grid-row: 1 / 3; 
  grid-column: 1 / 13;
}

.container{
  grid-row-start: 3;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.menuTitle {
  font-family: 'Figtree', sans-serif;
  font-size: 5vh;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogueMenu {
  border: solid 2px black;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterAndProductContainer{
  width: 100%;
  height: 84%;
  display: flex;
}

.filterContainer{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid black 2px;
}

.filterButton{
  margin-top: 5%;
  width: 75%;
  text-align: left;
  border: solid 2px gray;
  border-radius: 50px;

}

.productsContainer{
  width: 80%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productImage{
  object-fit: cover;
  width: 20%;
  height: 60%;
  margin : 5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}


.activeFilters{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags{
  margin-top: 5px;
}